/* ######## LandingPageStylesStartedFromHere ####### */
.landing {
    font-family: "Fira Code", monospace;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

 .landing__headline {
    line-height: 1.5em;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--dark-gray);
}

.landing__sub-headline {
  color: var(--purple);
}



.intro-bottom h1 {
    text-align: center;
}

.intro,
.intro-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hr {
  width: 60vw;
  background-color: var(--purple);
  height: 2px;
  border: none;
  margin: 1.5em 0;
  animation: commenFadeInAnimationForAllHr ease 3s;
}
@keyframes commenFadeInAnimationForAllHr {

  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
  
}





/*#################PurpleArrows#############*/

.purpleArrows {
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    transition: all 250ms ease-in-out;
    animation: moveDownAnimation ease 3s;
}

.purpleArrows:hover {
    transform: scale(1.1);
}

@keyframes moveDownAnimation {
    from {
      margin-bottom: 100vh;
    }
  
    to {
      margin-bottom: 0%;
    }
  }

/* ############ LeftSocialIconsStyles ############ */

.leftSocialMediaIcons__mobileLeftBar {
  display: none;
}

.leftSocialMediaIcons__mobileRightBar {
  display: none;
}

.leftSocialMediaIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 5%;
  bottom: 0;
}

.leftSocialMediaIcons__verticalBar {
  border-left: 3px solid var(--purple);
  height: 25vh;
}

.icon {
  color: #22262b;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  animation: moveDownAnimation ease 3s;
  padding-top: 5px;
}

.icon:hover {
  color: var(--purple);
  transform: scale(1.1);
}

.mobile__hr {
  width: 35vw;
  height: 2px;
  border: none;
  margin: 20px auto;
  background-color: var(--purple);
  animation: commenFadeInAnimationForAllHr ease 3s;
}

/* #####MediaQuiryStartedFromHere ##### */

@media only screen and (max-width: 768px) {

      /* MediaQuiryOfLandignPageStyles */

.landing__headline {
  font-size: 2rem;
}

  .hr {
    transition: all 1s ease-out;
    width: 80vw;
    margin: .5em;
  }

  .landing__sub-headline {
    font-size: .5rem;
  }

      /* MediaQuiryPropsOfLeftSocialComponent */

  .leftSocialMediaIcons {
    flex-direction: row;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
  }

  .leftSocialMediaIcons__verticalBar {
    display: none;
  }

  .leftSocialMediaIcons__mobileLeftBar {
    display: block;
    margin-right: 10px;
  }

  .leftSocialMediaIcons__mobileRightBar {
    display: flex;
    gap: 2em;
    margin-left: 10px;
  }

  .icon {
    
    position: inherit;
    animation: none;
  }
}











